@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    padding: 0;
    margin: 0 ;
    box-sizing: border-box;
    min-height: 100vh;
    background: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}
img{
    max-width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
filter: invert(7%) sepia(39%) saturate(651%) hue-rotate(232deg) brightness(88%) contrast(95%)    
}

.attribution {
     font-size: 11px; 
     text-align: center;
}

.attribution a {
     color: hsl(228, 45%, 44%);
}


.container{
    margin: 0 auto;
    max-width: 1440px;

} 
.inner-container{
    display: flex;
}
.text-container{
    background: hsl(244, 38%, 16%);
    flex: 1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.image-container{
    flex: 1;    
}

.grid-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* typography */
.text{
    margin: 1em 1em 0 3em ;
    padding: .5em;
    text-align: justify;
    color: white;
    line-height: 1.5;
    
}
h1{
    font-weight: 900;
    color: white;
    margin-bottom: .5em;
}
span{
    color: #aa5cdb;
   
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    padding-bottom: 1em;
    


}
.grid-text p {
    text-transform: uppercase;
   margin-top: .3em;
   font-family: monospace;
}
.grid-text h2{
    margin-bottom: 0;
    /* padding-bottom: ; */
    color: hsla(0, 0%, 100%, 0.6);
}

/* media queries */
@media only screen and (max-width: 768px) {
    .container{
        margin: 0 auto;
        max-width: 375px;
    }
    .inner-container{
        flex-direction: column-reverse;
    }
    .text-container{
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img{
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 0;
    height: 300px;
    object-fit: cover;
    width: 100%;
    }
    .text{
        text-align: center;
        letter-spacing: 3px;
    }
    .grid-box{
        grid-template-columns: 1fr;
        justify-content: center;
    }
  }